@charset "utf-8";
html,body,div,p, ul,ol,li,h1,h2,h3,h4,h5,h6,span,a,img{margin:0;padding:0;}
html{ font-size:100%;}
body{position:relative;background-color:#eee;}
img{display:block;width:100%;}
ul, li{list-style:none;}
input, button{border:none;}
a{color:transparent;text-decoration: none;}
.fl{float:left;}
.fr{float:right;}
.clearfix{zoom:1;}
.clearfix:after{content:" "; display:block;height:0;clear:both;visibility:hidden;}

@media screen and (min-width:320px) and (max-width:359px){
	html{font-size:100%;}
}
@media screen and (min-width:360px) and (max-width:374px){
	html{font-size:112.5%;}
}
@media screen and (min-width:375px) and (max-width:413px){
	html{font-size:117%;}
}
@media screen and (min-width:414px) and (max-width:479px){
	html{font-size:129%;}
}
@media screen and (min-width:480px) and (max-width:567px){
	html{font-size:150%;}
}
@media screen and (min-width:568px) and (max-width:767px){
	html{font-size:177.5%;}
}
@media screen and (min-width:768px) and (max-width:959px){
	html{font-size:240%;}
}
@media screen and (min-width:960px) and (max-width:1023px){
	html{font-size:300%;}
}
@media screen and (min-width:1024px){
	html{font-size:320%;}
}

@-webkit-keyframes Scale {
    0%{-webkit-transform:scale(0)}
    30%{-webkit-transform:scale(1.2)}
    75%{opacity: 1;-webkit-transform:scale(.6)}
    88%{opacity: 0.5;-webkit-transform:scale(1)}
    100%{opacity:1;-webkit-transform:scale(1)}
}

@-webkit-keyframes TranslateY {
    0%{-webkit-transform:translateY(-10%);}
    25%{-webkit-transform:translateY(0%);}
    50%{-webkit-transform:translateY(10%);}
    75%{-webkit-transform:translateY(0%);}
    100%{-webkit-transform:translateY(-10%);}
}


/**视屏播放 开始**/
.video_box .video_close{color: #fff;font-size: 40px;position: absolute;right: 5px;top: 0px;z-index: 9999;}
.video_box {position: fixed;top:0;bottom: 0;left:0;right: 0;background: rgba(0, 0, 0, 0.7);display: none;z-index: 9998;}
.video_con{background: #000;width: 100%;height:200px;margin-top: 10%;display: none;position:fixed;top: 5px;left: 0;z-index: 9999999;}
/**视屏播放 结束**/

/*第一屏*/
.bck-1 {background-size:100% 100%;width:100%;position:relative;}
.img-01 {width:17.5%;position:absolute;top:1.7%;left:5%;}
.img-03{width:27.5%;position:absolute;top:3.6%;right:5%;}
.img-11{width:70%;position:absolute;top:3%;left:23%;}
.img-04 {width:11.25%;position:absolute;top:32.6%;left:16.4%;cursor: pointer;}
.img-logo1 {width:29.375%;position:absolute;top:14%;left:34.6875%;cursor: pointer;}
.img-logo2 {width:66%;position:absolute;top:22.5%;left:15.625%;cursor: pointer; -webkit-animation:Scale 1.5s none linear;}
.img-06 {width:16.7%;position:absolute;top:56.4%;left:12.5%;cursor: pointer; -webkit-animation: TranslateY 2s infinite linear; }
.img-07 {width:16.7%;position:absolute;top:56.4%;right:12.5%;cursor: pointer;-webkit-animation: TranslateY 2s   infinite linear;}
.img-08 {width:16.7%;position:absolute;top:70.5%;left:15.5%;cursor: pointer;-webkit-animation: TranslateY 2s  infinite linear; }
.img-09 {width:16.7%;position:absolute;top:70.5%;right:15.5%;cursor: pointer; -webkit-animation: TranslateY 2s   infinite linear;}

.img-05 {width:6.4%;position:fixed;bottom:4%;left:50%;margin-left:-3.2%;cursor: pointer;}


/*第二页*/
.bck-2 { width:100%;height:38.375rem;background:url(../images/bck-2.jpg);background-size:100% 100%;}
.title_yxzx{padding-top:7.6%;width:84.375%;margin:0 auto;}
.title_yxzx img{}
.lunbotu{width:100%;}
.yuanquan {  margin-top: 3.75%;text-align:center;}
.yuanquan li{display:inline-block;border:1px solid #d7dee4;border-radius: 50%;cursor: pointer;width: 2.5%;padding-top:2.5%;margin:0 2.5%; }
.yuanquan li.on{background-color: #d7dee4;}
.tab_yxzx{margin-top:7%;overflow:hidden;}
.title_word {overflow:hidden;border-bottom: 1px solid #474d53;}
.title_word li {float:left;width:25%;height:1.75rem;line-height:1.75rem;font-family:长城宋体;font-size:0.75rem;color:#b2bcc5;text-align: center;border-bottom: 2px solid transparent;}
.title_word li.on{border-color:#f5d6a3;color:#b2bcc5;}
.main_word{padding:0 5%;overflow:hidden;}
.list_word{display:none;}
.list_word:first-child{display:block;}
.list_word li span{font-family:长城宋体;font-size:0.75rem;height:3rem;line-height:3rem;}
.list_word li .gonggao {float:left;margin:5% 4.68% 0 0;width: 14%;height: 1.125rem;line-height: 1.125rem;background-color: #7c819a; text-align: center;color:#191919;}
.list_word li .neirong{float:left;width:62%;color:#d7dee4}
.list_word li .data {float: right;width: 15%;color:#61686e;}
.word {  border-bottom: 1px solid #474d53;overflow: hidden;}

.sliders{padding:6.25% 5% 0;position:relative;}
.swipe{overflow: hidden;position: relative;}
.swipe-wrap{overflow: hidden;position: relative;}
.swipe-wrap li{float:left;position:relative;}
.sliderlist_bck2{height:8.25rem;}

/*英雄故事站*/
.wrap_yxgs{width:100%;height:25.4rem;background:url(../images/bg_yxgs.jpg) no-repeat; background-size:100% 100%;}
.title_yxgs{padding-top: 7.6%;width: 84.375%;margin: 0 auto;}
.slide_yxgs{width:90%;margin:0 5%;padding-top:7%;overflow:hidden;position: relative;}
.slide_cont_yxgs{overflow: hidden;position: relative;}
.slide_item_yxgs{float:left;position:relative;}
.slide_nav_yxgs{margin-top:2%;height:1.25rem;text-align: center;}
.slide_nav_yxgs li{display:inline-block;width:2.5%;height:0.5rem;margin:0 1.25%;background:url(../images/slide_nav.png) no-repeat; background-size:100% 100%;}
.slide_nav_yxgs li.on{background:url(../images/slide_nav_on.png) no-repeat; background-size:100% 100%;}

.hexlist{width:14.375rem;height:15rem;margin:0 auto;}
.hex {float: left; margin-right: -1.25rem; margin-bottom: 0.125rem;}
.hex a, .hex2 a{display:block;}
.hex .left { float: left; width: 0; border-right: 1.39rem solid  transparent; border-top: 2.4rem solid transparent;border-bottom: 2.4rem solid transparent;}
.hex .middle { float: left;width: 2.78rem; height: 4.81rem;background:  transparent;}
.hex .right { float: left;width: 0; border-left: 1.39rem solid  transparent; border-top: 2.4rem solid transparent; border-bottom: 2.4rem solid transparent;}
.hex-row {clear: left;}
.hex.even { margin-top: 2.44rem;}
.hex.mm { margin-top: -2.44rem;}
.hex.bb { margin-top: -2.44rem;margin-left:4.27rem; margin-right:0;margin-bottom:0;}

.hexlist2{height:14.375rem;width:15rem;margin:0 auto;}
.hex2 {float: left; margin-right:0.1rem; margin-bottom: -1.25rem;}
.hex2 .left {width: 0; border-bottom: 1.39rem solid  transparent; border-left: 2.4rem solid transparent;border-right: 2.4rem solid transparent;}
.hex2 .middle {height: 2.78rem; width: 4.81rem;background:  transparent;}
.hex2 .right {width: 0; border-top: 1.39rem solid  transparent; border-left: 2.4rem solid transparent; border-right: 2.4rem solid transparent;}
.hex2.first { margin-left: 2.5rem;}


.yx01{background:url(../images/yx01.png) no-repeat;background-size:100% 100%;}
.yx02{background:url(../images/yx02.png) no-repeat;background-size:100% 100%;}
.yx03{background:url(../images/yx03.png) no-repeat;background-size:100% 100%;}
.yx04{background:url(../images/yx04.png) no-repeat;background-size:100% 100%;}
.yx05{background:url(../images/yx05.png) no-repeat;background-size:100% 100%;}
.yx06{background:url(../images/yx06.png) no-repeat;background-size:100% 100%;}
.yx07{background:url(../images/yx07.png) no-repeat;background-size:100% 100%;}
.yx08{background:url(../images/yx08.png) no-repeat;background-size:100% 100%;}
.yx09{background:url(../images/yx09.png) no-repeat;background-size:100% 100%;}
.yx10{background:url(../images/yx10.png) no-repeat;background-size:100% 100%;}
.yx11{background:url(../images/yx11.png) no-repeat;background-size:100% 100%;}
.yx12{background:url(../images/yx12.png) no-repeat;background-size:100% 100%;}
.yx13{background:url(../images/yx13.png) no-repeat;background-size:100% 100%;}
.yx14{background:url(../images/yx14.png) no-repeat;background-size:100% 100%;}
.yx15{background:url(../images/yx15.png) no-repeat;background-size:100% 100%;}
.yx16{background:url(../images/yx16.png) no-repeat;background-size:100% 100%;}
.yx17{background:url(../images/yx17.png) no-repeat;background-size:100% 100%;}
.yx18{background:url(../images/yx18.png) no-repeat;background-size:100% 100%;}
.yx19{background:url(../images/yx19.png) no-repeat;background-size:100% 100%;}
.yx20{background:url(../images/yx20.png) no-repeat;background-size:100% 100%;}
.yx21{background:url(../images/yx21.png) no-repeat;background-size:100% 100%;}
.yx22{background:url(../images/yx22.png) no-repeat;background-size:100% 100%;}
.yx23{background:url(../images/yx23.png) no-repeat;background-size:100% 100%;}
.yx24{background:url(../images/yx24.png) no-repeat;background-size:100% 100%;}
.yx25{background:url(../images/yx25.png) no-repeat;background-size:100% 100%;}
.yx26{background:url(../images/yx26.png) no-repeat;background-size:100% 100%;}


.swipe2{overflow: hidden;position: relative;}
.swipe-wrap2{overflow: hidden;position: relative;}
.swipe-wrap2 li{float:left;position:relative;}


/*英雄攻略站*/
.wrap_yxgl{width:100%;height:25.8rem;background:url(../images/bg_yxgl.jpg) no-repeat; background-size:100% 100%;}
.title_yxgl{padding-top: 7.6%;width: 84.375%;margin: 0 auto;}
.tab_yxgl{margin-top:5%;}
.tab_nav_yxgl{overflow:hidden;border-bottom:1px solid #859094;}
.tab_nav_yxgl li{float:left;width:25%;height:1.75rem;line-height:1.75rem;font-size:0.75rem;border-bottom:2px solid transparent;color:#b2bcc5;text-align: center;}
.tab_nav_yxgl li.on{border-color:#f5d6a3;color:#f5d6a3;}
.tab_cont_yxgl{padding:1px 5% 0;overflow:hidden;}
.tab_item_yxgl{display:none;}
.tab_item_yxgl li{border-bottom: 1px solid #474d53;overflow: hidden;}
.tab_item_yxgl li span{font-family:长城宋体;font-size:0.75rem;height:3rem;line-height:3rem;}
.tab_item_yxgl .cate_ti{float:left;margin:5% 4.68% 0 0;width: 14%;height: 1.125rem;line-height: 1.125rem;background-color: #7c819a; text-align:center;color:#191919;}
.tab_item_yxgl .title_ti{float:left;width:77%;color:#d7dee4}
.tab_item_yxgl .time_ti{display:none;float: right;width: 15%;color:#61686e;}
.more_yxgl{float:right;margin-top:4%;width:17.5%;height:1.5rem;font-size:0.75rem;line-height:1.5rem;text-align:center;color:#b2bcc5;background-color:#454857;}
.more_yxgl img{display:inline-block;margin-left:4%;width:20%;}

/*英雄视频站*/
.wrap_yxsp{width:100%;height:27.2rem;background:url(../images/bg_yxsp.jpg) no-repeat; background-size:100% 100%;}
.title_yxsp{padding-top: 7.6%;width: 84.375%;margin: 0 auto;}
.tab_yxsp{margin-top:7%;}
.tab_nav_yxsp{overflow:hidden;border-bottom:1px solid #859094;}
.tab_nav_yxsp li{float:left;width:25%;height:1.75rem;line-height:1.75rem;font-size:0.875rem;border-bottom:2px solid transparent;color:#b2bcc5;text-align: center;}
.tab_nav_yxsp li.on{border-color:#f5d6a3;color:#f5d6a3;}
.tab_cont_yxsp{padding:11.7% 5% 0;}
.tab_item_yxsp{display:none;}
.slide_cont_yxsp{width:100%;overflow:hidden;}
.slide_item_yxsp{float:left;position:relative;}
.slide_item_yxsp ul{overflow:hidden;}
.slide_item_yxsp ul li{position:relative;float:left;width:47%;margin-bottom:4.68%;}
.slide_item_yxsp ul li span{position:absolute;width:100%;height:100%;top:0;left:0;background-image:url(../images/video_ico.png);background-repeat: no-repeat;background-position:right bottom;background-size:20%;}
.slide_item_yxsp ul .left_si_yxsp{margin-right:3%;}
.slide_item_yxsp ul .right_si_yxsp{margin-left:3%;}
.slide_nav_yxsp{margin-top:2%;height:1.25rem;text-align: center;}
.slide_nav_yxsp li{display:inline-block;width:2.5%;height:0.5rem;margin:0 1.25%;background:url(../images/slide_nav.png) no-repeat; background-size:100% 100%;}
.slide_nav_yxsp li.on{background:url(../images/slide_nav_on.png) no-repeat; background-size:100% 100%;}

/*底部*/
.footer{position:relative;width:100%;height:4.8rem;background:url(../images/dibu.jpg) no-repeat;background-size:100% 100%;overflow:hidden;}
.shareitem{float:left;width:33%;}
.shareitem img{display:block;width:37%;height:auto;margin:5% auto 0;}
.shareitem span{display:block;text-align:center;font-size:0.875rem;line-height:1.5rem;color:#b2bcc5;}
.showWx{position:absolute;width:100%;height:100%;top:100%;left:0;background:url(../images/dibu.jpg) no-repeat;background-size:100% 100%;z-index:999;}
.shareitem2{float:left;padding-top:1%;overflow: hidden;}
.si2_1{width:45%;}
.si2_2{width:55%;}
.shareitem2 img{float:left;height:auto;margin-left:5%;margin-top:5%;}
.si2_1 img{width:30%;}
.si2_2 img{width:25%;}
.shareitem2 span{float:left;margin-left:2%;font-size:0.75rem;line-height:1.25rem;color:#b2bcc5;}
.wx_fu{display:none;position:absolute;width:40%;height:0;padding-top:40%;bottom:4.8rem;left:5%;background-image:url(../images/wx_fu.jpg);background-repeat: no-repeat;background-size:contain;}
.wx_dy{display:none;position:absolute;width:40%;height:0;padding-top:40%;bottom:4.8rem;right:5%;background-image:url(../images/wx_dy.jpg);background-repeat: no-repeat;background-size:contain;}

.swiper-container {width: 100%;height: 100%;}
.swiper-slide{position:relative;}


